<template id="eventCardTemplate">
    <div class="event-card">
        <div class="left-column">
            <img class="event-image" src="../../../imagenes/placehold400x200.png">
            <a class="instagram-anchor" target="_blank">
                <img class="instagram-img" src="../../../imagenes/instagram.png">
            </a>
            <div class="name-fav">
                <h1 class="name"></h1>
                <button class="fav-button">
                    <img src="../../../imagenes/fav.png">
                </button>
            </div>
            <div class="price-currency">
                <h1 class="currency"></h1>
                <h1 class="price"></h1>
            </div>
            <button class="buy-button">
                <img class="shop-img" src="../../../imagenes/shop.png" alt="shop">
            </button>
        </div>
        <div class="right-column">
            <div class="reviews-placeholder"></div>
            <h1 class="venue"></h1>
            <hi class="date-time"></hi>
            <h1 class="music-ratio"></h1>
            <div class="city-country">
                <button class="button-city"></button>
                <button class="button-country"></button>
            </div>
            <button class="button-dance-type"></button>
        </div>
    </div>
</template>