*{
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;    
    max-height: 100%;
    text-align: center;
}
.header-container-profile,#header-container,nav {
    width: 100%;
}
body, ol, .logo-log-register,
form {
    width: fit-content;
} 
nav, ol, #header-container, .header-container-profile,
.logo-log-register, #search-section, #profile-card-container {
    display: flex;
}
img, .app-logo, #main-title-form,#main-title-event,.main-title, span, form {
    display: block;
}
#header-container, .header-container-profile, #profile-card-container {
    flex-direction: column;
}
nav, ol {
    flex-direction: row;
}
nav, li, div,#main-title-form,#main-title-event,.main-title, form, #search-label {
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.app-name, #main-title-form,#main-title-event,.main-title {
    font-size: 24px;
}
nav, ol, .app-name, #main-title-form,#main-title-event, .main-title,  form {
    font-weight: bold;
}
div, li, #header-container,.header-container-profile, #profile-card-container {
    background-color: #F7BC47;
}

li, :link ,div, #main-title-form,#main-title-event,.main-title,  form, #search-section, #search-label{
    color: #243D4B;
}
li{
    cursor: pointer;
}
#main-title-form,#main-title-event,.main-title{
    border-radius: 20px;
}
li, div{
    border-radius: 12px;
    margin: 5px;
    padding: 5px;
}
:link {
    text-decoration: none;
}
.app-name, .logo-log-register {
    margin-right: 5px;
}
nav {
    justify-content: space-between;
    background-color: #243D4B;
    position: sticky;
    top: 0;
}
ol {
    justify-content: start;
    list-style: none;
    margin: 0;
    padding: 0;
}
div {
    border: 1px solid #243D4B;
}   
img {
    width: 52px;
    margin: 10px auto 0;
}

.app-name {
    flex-grow: 1;
    margin: auto 0 ;
    padding: 22px;
    width: fit-content;

}
.logo-log-register {
    gap: 5px;
    margin: auto;
    justify-content: end;
}
.app-logo{
    width: 100px;
    margin: -20px ;
}
#main-title-form,#main-title-event,.main-title  {
    width: fit-content;
    justify-content: flex-start;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#profile-card-container, .header-container-profile {
    border-bottom: solid 1px #243D4B;
}


#search-section {
    width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    gap: 5px 
}
#search-label {
    font-size: 20px;
    text-align: center;
}


/*=====FOOTER STYLES=====*/
.follow-us{
    background-color: #F7BC47;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 2rem;
}
.social-media {
    display: flex;
    width: 10%;
    margin: auto;
    border: none;
}

/*=====PROFILE STYLES======*/
#event-creator {
    display: none;
}

#event-form, .preview-container, #event-fieldset {
    display: flex;
}
#submit-flyer {
    color: #F7BC47;
}
.invalid-field {
    border: 2px solid red;
    background-color: #ffe5e5;
}
.preview-container {
    flex-direction: row;
    margin: 0px 300px;
    gap: 50px;
}
.preview-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding-top: 8px;
    
}

.edit-form-container{
    padding: 5px;
    border: #243D4B solid 1px;
}
#edit-profile-form-container {
    display: none;
    
}
#edit-event-form-container {
    display: none;
    
}
  /*=====LOG IN STYLES=====*/
.register-button,.container-signin{
    border: none;
}

#login-container,.register-container, .container-signin {
    background-color: white;
}
#login-container {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

/*=====REGISTER STYLES=====*/
.register-container {
    padding: 16px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/*======BASKET======*/
.product-detail {
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
  }
  .my-order-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .checkout-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  @media (max-width: 640px) {
    .product-detail {
      width: 100%;
    }
  }