
#submit-button-login {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
    background-color:#243D4B;
    width: 100%;
    font-size: 16px;
    border : none
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
}