.profile-picture {
    width: 200px;
    object-fit: cover;
    margin: auto;
    border-radius: 20px;
}

.profile-card {
    margin: 0px auto;
    width: 40%;
    height: max-content;
    display: flex;
    padding: 15px;
    background: #1D3557;
    border-radius: 10px; 
    border-bottom: 5px solid #1D3557;
    animation-name: fade;
    animation-duration: 1s;
    gap: 20px;
}

@keyframes fade {
    from {background-color: #F7BC47;}
 to {background-color: #1D3557;}
}

.profile-info{
    width: max-content;
    height: max-content;
    margin: auto;
    text-align:start;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}


.edit-fav-profile, .create-myEvents-profile{
    display: flex;
    width: fit-content;
    gap: 5px;
    justify-content: space-between;
    background-color: white;
    border: none;
    padding: 5px;
}

.fav-button-profile{
    padding: 5px 10px;
}
.nickname, .bio, .team-academy{
    margin-bottom: 5px;
    background-color:#1D3557 ;
    color: #F7BC47;
    padding: 5px 10px;
    border-radius: 10px;
}