*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(42, 122, 243),rgb(207, 204, 6));
    display: block;
    align-content: center;
    height: max-content;
    max-width: 1280px;
}

#navegador {
    border: 3px solid rgb(0, 0, 0);
    color: black;
    font-size: 25px;
}

.item-navegador a:hover {
    color: yellow;
}

#youtube-link:hover {
    color: yellow;
}


#lista-navegador, #credenciales-formulario {
    display: flex;
    padding: 10px;
}

.item-navegador{
    margin:auto;
    list-style: none;
}

.titulo {
    display: block;
    padding: 10px;
    margin: auto;
    border: 3px solid rgb(0, 0, 0); ;
}

.texto {
    text-align: center;
}

#formulario {
    width: 100% ;
    margin: 0 auto;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(3,1fr);
}

#formulario-2 {
    width: 100% ;
    margin: 0 auto;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-rows: repeat(3,1fr);
}

#pokemons {
    width: 550px;
    display: flex;
    justify-content: center;
    margin: auto;
    animation-duration: 3s;
    animation-name: slides;
    animation-iteration-count: infinite;
}

@keyframes slides {
    0% {
        transform: translate(0px,0px);
     }
 
     25%{
         transform: translate(500px,0px);
     }
 
     100%{
         transform: translate(0px,0px);
     }
     
     
}


img {
    width: 100px;
}

#pikachu {
    width: 100px;
}

#squirtle {
    background-color: transparent;
}