body{
    main{
        .pokemon-gallery{
            --gallery-columns:1;
            --gallery-column-width: calc(276px*1.5)
        }
    } 
}

#footer-form{  
    display: flex;
    flex-direction: column;
}

.checkbox {
    width: 490px;
    margin-left: 0px;
}
#email {
    width: 570px
}

#birthdaytime, #country{
width: 280px;
}

#button-register {
    width: 280px;
}

 