*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: max-content;
    max-width: 1280px;
    font-family:monospace;
    color: black;
}

header {
    text-align:center;
    grid-column-start: span 12;
    background-color: rgba(207, 207, 22, 0.2);
    padding: 1em;
    font-size: 1em;
    text-shadow: 1px 2px rgb(0, 159, 159);
}

main {
    grid-column-start: span 9;
    background-color: rgba(195, 210, 210,0.3);
    border: 3px solid rgb(21, 21, 21);
    margin: 5px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside{
    margin-top: 5px;
    text-align: center;
    grid-column-start: span 3;
    background-color: rgba(186, 186, 205,0.2);
    border: 2px solid black;
    gap: 5em;
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid rgb(122, 136, 62);
    font-weight: bold;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    padding: .3em;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
}

table { margin-top: 5px;
}

footer {
    grid-column-start: span 12;
    text-align: center;
    text-shadow: 1px 0.5px navy;
    background-color: bisque;
    margin-top: 5px;
    font-size: 20px;
}

legend {
    font-weight: bold;
    font-size:20px;
}

.buttons {
    padding: 3px;
    text-align: center;
    background-color: antiquewhite;
    opacity: 0.5;
    font-weight: bold;
}

.buttons:hover {
    opacity: 1;
    scale: 1.1;
}
.delete-button {
    width: 60px;
    background-color: antiquewhite;
    font-size: 15px;
    border: 2px solid lightgrey;
    opacity: 0.7;
}

.delete-button:hover {
    opacity: 1;
    scale: 1.1;
}

#button-container {
    display: flex;
    justify-content:space-evenly;
}

#formulario {
    display: flex;
    padding: .3em;
    justify-content:center;
}

#reset-button {
    padding: 3px;
    text-align: center;
    background-color: antiquewhite;
    opacity: 0.5;
    font-weight: bold;
    display: none;
}

#reset-button:hover {
    opacity: 1;
    scale: 1.1;
}

:link {
    color: rgba(38, 87, 83,0.5);
    text-decoration: none;
}

:link:hover {
    color: rgb(135, 22, 152);
    opacity: 1;
}

@media (max-width: 568px) {
    header {
        background-color: rgba(81, 81, 187,0.5);
        text-shadow: 1px 1px red;
    }

    main {
        grid-column: span 12;
        background-color: rgba(216, 138, 43,0.2);
    }

    .buttons {
        color: navy;
        background-color: rgba(10, 154, 207,0.4);
    }

    aside {
        grid-column: span 12;
        background-color: rgb(192, 189, 189);
    }
}