<template id="createEventFormTemplate">
    <form action="#" id="eventForm">
        <fieldset id="event-fieldset">
            <legend>Event Creator</legend>
           <div class="left-column">
                <label> Submit your flyer</label>
                <input type="file" id="submit-flyer" name="filename">
                <input type="text" name="input-event-name" id="input-event-name" placeholder="Name of the event" required>
                <input type="text" name="input-venue" id="input-venue" placeholder="Venue" required>
                <input type="datetime-local" name="input-dateTime" id="input-dateTime" value="2025-02-10T08:30" required>
                <input type="url" id="input-url" placeholder="instagram-url">
            </div>
            <div class="right-column">
                <input type="number" name="input-price" id="input-price" placeholder="Price" max="1000" required>
                <select class="form-select" id="input-currency" name="input-currency" required>
                    <option>select currency</option>
                    <option value="BTC">Bitcoin</option>
                    <option value="ETH">Ethereum</option>
                    <option value="CAD">Canadian Dollar</option>
                    <option value="EUR">Euro</option>
                    <option value="GBP">Pound Sterling</option>
                    <option value="JPY">Japanese Yen</option>
                    <option value="MXN">Mexican Peso</option>
                    <option value="RUB">Russian Ruble</option>
                    <option value="CHF">Swiss Franc</option>
                    <option value="USD">US Dollar</option>   
                </select>
                <input type="text" name="input-music-ratio" id="input-music-ratio" placeholder="Music Ratio" required>
                <input type="text" name="input-city" id="input-city" placeholder="City" required>
                <input type="text" name="input-country" id="input-country" placeholder="country" required>
                <input type="text" name="input-dance" id="input-dance" placeholder="Dance" required>
                <button type="submit" name="submit-button" id="submit-button">Preview Event</button>
            </div>
        </fieldset>
    </form> 
</template>